<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <!-- Titulo da loja -->
    <title> Zetta-Byte Shopping - Detalhe </title>

    <!-- configurações de linguagem -->
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- icone do titulo -->
    <link rel="icon" type="imagem/png" href="/images/animated_favicon1.gif" />

    <!-- JQuery, popper e bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    <!-- CSS Externo e boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fonte do google fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
            #foto{            
                margin-bottom: 30px;
            }
    
            #data{            
                margin-bottom: 30px;
            }

            
    
        </style>

  </head>
  
  <body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            
          <a class="navbar-brand" href="/admin/home"><img src="/images/bootstrap-solid.svg" width="30" height="30" alt=""> Zetta-Byte</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/home">Home <span class="sr-only">(página atual)</span></a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="/admin/cadastro_produto">Cadastrar Produto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/produtos">Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/clientes">Clientes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/chat">Chat-Clientes</a>
                </li>
                <li class="nav-item">
                    <% if(msg != "") {%>
                        <a class="nav-link text-success" href="/admin/logout">Logout - <%= msg %></a>
                    <% } %>                        
                </li>
            </ul>
            
          </div>
      </nav>
    </header>
    <main>

        <div >
            <br>
            <h3 class="centro">Atualizar Produto</h3>
            <br>
        </div>

        <div class="row">
        <% dados.forEach(function(dado){ %>
            <div class=" container col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div id="foto" class=" container col-sm-5 col-md-5 col-lg-5 col-xl-5">

                <img class="img-thumbnail  img-fluid imgdetalhe" src='/<%= dado.img %>' alt="foto produto">            
                
            </div>
            <div class=" container col-sm-5 col-md-5 col-lg-5 col-xl-5" id="data">
                
                <form action="/admin/atualizarproduto" method="POST">
                    <div class="form-group">
                        <label for="nome"><b> Nome do produto:</b></label>
                        <input type="text" class="form-control" id="nome" name="nomeproduto" value="<%= dado.nomeproduto %>">
                    </div>
                    <div class="form-group">
                        <label for="marca"><b> Marca: </b></label>
                        <input type="text" class="form-control" id="marca" name="fabricante"  value="<%= dado.fabricante %>">
                    </div>
                    <div class="form-group">
                        <label for="tipo"><b> Tipo de produto:</b></label>
                        <input type="text" class="form-control"  id="tipo" name="tipo" value="<%= dado.tipo %>">
                    </div>
                    <div class="form-group">
                        <label for="preco"><b> Preço:</b></label>
                        <input type="number" class="form-control"  id="preco" name="preco" value="<%= dado.preco %>">
                    </div>
                    <div class="form-group">
                        <label for="quantidade"><b> Quantidade Disponível: </b></label>
                        <input type="number" class="form-control"  id="quantidade" name="quantidade" value="<%= dado.quantidade %>">
                    </div>
                    <div class="form-group">
                        <label for="descricao"><b> descrição do produto: </b></label>
                        <textarea name="descricao" id="descricao" cols="30" rows="5"  class="form-control"><%= dado.descricao%></textarea>
                        
                        
                    </div>
                    <input type="hidden" name="_id" value="<%= dado._id %>">
                    <div class="form-group">
                        <br>
                        <input type="submit" value="Atualizar" class="btn  btn-warning">
                    </div>
                </form>


            </div>
        <% }) %>
        <div class=" container col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
    </main>
    <!-- Footer -->
    <footer id="footer" class="page-footer font-small teal pt-4 bg-dark">

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">
            
                <!-- Grid row -->
                <div class="row">
            
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
            
                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Qualidade</h5>
                    <p class="white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            
                </div>
                <!-- Grid column -->
            
                <hr class="clearfix w-100 d-md-none pb-3">
            
                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">
            
                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Satisfação</h5>
                    <p class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            
                </div>
                <!-- Grid column -->
            
                </div>
                <!-- Grid row -->
            
            </div>
            <!-- Footer Text -->
        </footer>
  </body>
</html>
