<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Titulo da loja -->
    <title> Zetta-Byte Shopping - Cadastro de Funcionário </title>

    <!-- configurações de linguagem -->
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- icone do titulo -->
    <link rel="icon" type="imagem/png" href="/images/animated_favicon1.gif" />

    <!-- JQuery, popper e bootstrap JS -->
    <script src="/javascripts/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    <!-- CSS Externo e boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fonte do google fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="/admin"><img src="/images/bootstrap-solid.svg" width="30" height="30" alt="">
                Zetta-Byte</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
    </header>
    <main>

        <div class="container col-sm-1 col-xs-4 col-md-3"></div>

        <div class="container col-sm-10 col-xs-4 col-md-6">

            <form action="/admin/cadastrarFuncionario" method="post">

                <div>
                    <br>
                    <h3 class="centro">Cadastro de Funcionário</h3>
                    <br>
                </div>
                <div>
                    <!-- Erros -->
                    <% if(erros){ %>
                    <h3 class="centro text-danger"><%= msg %></h3>
                    <br>
                    <div class="container">
                        <ul class="list-group ">
                            <% for(let i=0 ; i<erros.length; i++){ %>
                            <li class="text_danger list-group-item list-group-item-action list-group-item-danger">
                                <%= erros[i].msg %></li>
                            <% } %>
                        </ul>
                    </div>
                    <br>
                    <% } %>
                </div>

                <!--dados Pessoais-->
                <div class="form-group">
                    <label for="nomecompleto">Nome Completo</label>
                    <input type="text" name="nomecompleto" id="nomecompleto" class="form-control"
                        value="<%= dados.nomecompleto %>" autofocus required>
                </div>
                <div class="form-group">
                    <label for="rg">RG</label>
                    <input type="text" name="rg" id="rg" class="form-control" value="<%= dados.rg %>" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" value="<%= dados.cpf %>" name="cpf" id="cpf" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" name="telefone" value="<%= dados.telefone %>" id="telefone" class="form-control"
                        required>
                </div>
                <br>
                <div class="form-group">
                    <label for="funcao">Função na empresa</label>
                    <select name="funcao" id="funcao" class="form-control" value="<%= dados.funcao %>">
                        <option value="Gerente">Gerente</option>
                        <option value="Suporte">Suporte</option>
                        <option value="Transportador">Transportador</option>
                        <option value="Atendente" selected>Atendente</option>
                        <option value="Presidente">Presidente</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="setor">Setor de Trabalho</label>
                    <select name="setor" id="setor" value="<%= dados.setor %>" class="form-control">
                        <option value="Logística">Logística</option>
                        <option value="Empacotamento">Empacotamento</option>
                        <option value="Transporte">Transporte</option>
                        <option value="Atendimento" selected>Atendimento</option>
                        <option value="Suporte" selected>Suporte</option>
                        <option value="RMA" selected>RMA</option>
                        <option value="Financeiro">Financeiro</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <p id="mensagem" class="text-danger"></p>
                    <label for="cep">CEP</label>
                    <input type="text" id="cep" class="form-control">
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco" name="endereco" class="form-control">
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" id="bairro" name="bairro" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" id="cidade" name="cidade" class="form-control">
                </div>

                <br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= dados.email %>" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" value="<%= dados.usuario %>" name="usuario" id="usuario" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" value="<%= dados.senha %>" id="senha" name="senha"
                        required>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">
                </div>
                <br>
            </form>
        </div>
        <div class="container col-sm-1 col-xs-4 col-md-3"></div>

    </main>
    <!-- Footer -->
    <footer id="footer" class="page-footer font-small teal pt-4 bg-dark footer">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Qualidade</h5>
                    <p class="white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Satisfação</h5>
                    <p class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->
    </footer>
</body>

<script>

    $('#cep').blur(function (e) {
        var cep = $('#cep').val();
        var url = "http://viacep.com.br/ws/" + cep + "/json";
        var validacaocep = /^[0-9]{8}$/;

        if (validacaocep.test(cep)) {
            pesquisarCEP(url);
            $('#mensagem').hide();
        } else {
            $('#mensagem').show();
            $('#mensagem').html("CEP Inválido!");
        }
    });

    function pesquisarCEP(endereco) {
        $.ajax({
            type: "GET",
            url: endereco,
            async: false
        }).done(function (data) {
            console.log(data);
            $('#endereco').val(data.logradouro);
            $('#bairro').val(data.bairro);
            $('#cidade').val(data.localidade);
        }).fail(function () {
            console.log("ERRO");
        });
    }


</script>

</html>