<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <!-- Titulo da loja -->
    <title> Zetta-Byte Shopping - Home </title>

    <!-- configurações de linguagem -->
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- icone do titulo -->
    <link rel="icon" type="imagem/png" href="/images/animated_favicon1.gif" />

    <!-- JQuery, popper e bootstrap JS -->
    <script src="/javascripts/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    <!-- CSS Externo e boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fonte do google fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
  </head>
  
  <body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            
          <a class="navbar-brand" href="/admin/home"><img src="/images/bootstrap-solid.svg" width="30" height="30" alt=""> Zetta-Byte</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/home">Home <span class="sr-only">(página atual)</span></a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="/admin/cadastro_produto">Cadastrar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/produtos">Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/chat">Chat-Clientes</a>
                </li>
                <li class="nav-item">
                    <% if(msg != "") {%>
                        <a class="nav-link text-success" href="/admin/logout">Logout - <%= msg %></a>
                    <% } %>                        
                </li>
            </ul>
            
          </div>
      </nav>
    </header>
    <main>
    
        <div>
            <br>
            <h2 class="centro">Pedidos</h2>
            <br>
        </div>

        <div>
            <h3 class="centro MSG alert alert-success"></h3>
            <br>
        </div>

        <% if( pedidos[0] != undefined ){ %>
            
            <table class="table">
                <thead class="thead thead-dark">
                    <tr>
                        <th></th>
                        <th>CÓDIGO</th>
                        <th>CLIENTE_ID</th>                        
                        <th>STATUS</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <% pedidos.forEach(function(dado){ %>
                        <tr class="alert alert-danger" id="<%= dado._id %>">
                            <td></td>
                            <td><%= dado._id %></td>
                            <td><%= dado.clienteID %></td>                            
                            <% if(!dado.enviado){ %>
                                <td>Não Postado</td>
                            <% } %>
                            <td><button  onclick="enviado('<%=dado._id%>')" class="btn btn-success"> Postado </button> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            

        <% } else { %>
            <br><br><br>
            <h2 class="centro alert alert-warning"> Nenhum Pedido Para Ser Enviado </h2>
        <% } %>
    
    
    
    </main>
  </body>

  <script>

    $(document).ready(function(){
        $('.MSG').hide()
    })
  
    function enviado(id){

        $.ajax({
            type:'GET',
            url:'/admin/postado/'+id
        }).done(function(e){

            $('#'+id).hide()
            $(".MSG").show()
            $(".MSG").html("Produto Postado")

            setInterval(function(e){
                $('.MSG').hide()
            }, 4000)

        })

    }
  
  </script>
</html>
