<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <!-- Titulo da loja -->
    <title> Zetta-Byte Shopping - Produtos </title>

    <!-- configurações de linguagem -->
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- icone do titulo -->
    <link rel="icon" type="imagem/png" href="/images/animated_favicon1.gif" />

    <!-- JQuery, popper e bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    <!-- CSS Externo e boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fonte do google fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        footer{
            margin-bottom: -300px;
        }
    </style>
    
  </head>
  
  <body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            
          <a class="navbar-brand" href="/admin/home"><img src="/images/bootstrap-solid.svg" width="30" height="30" alt=""> Zetta-Byte</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/home">Home <span class="sr-only">(página atual)</span></a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="/admin/cadastro_produto">Cadastrar Produto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/produtos">Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/clientes">Clientes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/chat">Chat-Clientes</a>
                </li>
                <li class="nav-item">
                    <% if(msg != "") {%>
                        <a class="nav-link text-success" href="/admin/logout">Logout - <%= msg %></a>
                    <% } %>                        
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
          </div>
      </nav>
    </header>
    <main>
    
        <% if(dados) { %>

        
        
                <div>
                    <br>
                    <h3 class="centro">Produtos</h3>
                    <br>
                </div>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Fabricante</th>
                            <th>Tipo</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Descrição</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% dados.forEach(function(dado){ %>

                            <tr>
                                <td><img src='<%= "/"+ dado.img %>' class="fototabela"></td>
                                <td><%= dado.nomeproduto %></td>
                                <td><%= dado.fabricante %></td>
                                <td><%= dado.tipo %></td>
                                <td>R$<%= dado.preco %>,00</td>
                                <td><%= dado.quantidade %> unid</td>
                                <td><%= dado.descricao%></td>
                                <td><a href="/admin/detalheproduto/<%=dado._id%>"" class="btn btn-sm btn-primary">Detalhes</a></td>
                                <td><a href="/admin/atualizarproduto/<%=dado._id%>" class="btn btn-sm btn-info">Atualizar</a></td>                                    
                            </tr>

                        <% }) %>
                    </tbody>
                </table>
        
        
        <% } %>
        
        <br>
        <br>
    </main>
    <!-- Footer -->
    <footer id="footer" class="page-footer font-small teal pt-4 bg-dark ">

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">
            
                <!-- Grid row -->
                <div class="row">
            
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
            
                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Qualidade</h5>
                    <p class="white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            
                </div>
                <!-- Grid column -->
            
                <hr class="clearfix w-100 d-md-none pb-3">
            
                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">
            
                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold white">Satisfação</h5>
                    <p class="white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            
                </div>
                <!-- Grid column -->
            
                </div>
                <!-- Grid row -->
            
            </div>
            <!-- Footer Text -->
        </footer>
  </body>
</html>
