<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <!-- Titulo da loja -->
    <title> Zetta-Byte Shopping </title>

    <!-- configurações de linguagem -->
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- icone do titulo -->
    <link rel="icon" type="imagem/png" href="/images/animated_favicon1.gif" />

    <!-- JQuery, popper e bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    <!-- CSS Externo e boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fonte do google fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        
        .aumentaP{
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 1em;
        }

        .aumentaQ{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .largura{
            width: 65px;
        }


        .tamInput{
            width: 80px;
        }
    </style>
    
  </head>
  
  <body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            
          <a class="navbar-brand" href="/"><img src="/images/bootstrap-solid.svg" width="30" height="30" alt=""> Zetta-Byte</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
              </li>              
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                  </a>
                  <!-- Aqui adiciona as lista de produtos  -->
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/produto/gabinete">Gabinetes</a>
                        <a class="dropdown-item" href="/produto/cooler">Coolers</a>
                        <a class="dropdown-item" href="/produto/monitor">Monitores</a>
                        <a class="dropdown-item" href="/produto/mouse">Mouses</a>
                        <a class="dropdown-item" href="/produto/teclado">Teclados</a>
                        <a class="dropdown-item" href="/produto/hd">HDs</a>
                        <a class="dropdown-item" href="/produto/ssd">SSDs</a>
                        <a class="dropdown-item" href="/produto/processador">Processadores</a>
                        <a class="dropdown-item" href="/produto/Memoria ">Memória</a>
                        <a class="dropdown-item" href="/produto/placamae">Placas mãe</a>
                        <a class="dropdown-item" href="/produto/placavideo">Placas de vídeo</a>
                        <a class="dropdown-item" href="/produto/headset">Headsets</a>
                    </div>
                  <!-- fim da lista -->
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="/comparar_produtos">Comparar</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/carrinho">Carrinho</a>
              </li>
              <li class="nav-item">
                    <% if(msg != "") {%>
                        <a class="nav-link text-success" href="/logout">Logout - <%= msg %></a>
                    <% } else {%>
                        <a class="nav-link" href="/login">Login</a>
                    <% } %>
                  </li>
            </ul>
            
          </div>
      </nav>
    </header>
    <main>

        <div>
            <br>
            <h1 class="centro">Carrinho de Compras</h1>
            <br>
        </div>

        <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>PRODUTO</th>
                        <th>MARCA</th>
                        <th>VALOR</th>
                        <th>ESTOQUE</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

        <% dados.forEach(function(dado){ %>
            
            <tr>
                <td><img src='<%= "/"+ dado.img %>' class="fototabela"></td>
                <td><%= dado.nomeproduto %></td>
                <td><%= dado.fabricante %></td>
                
                <td><span value="<%= dado.preco%>" class="badge badge-secondary aumentaP">R$ <span class="preco"><%= dado.preco%></span>,00</span></td>
                <td><span title="quantidade em estoque." class="badge badge-secondary aumentaP largura"> <%= dado.quantidade %></span></td>
                <td> <input class="form-control tamInput qtd produto" min="1" max="<%= dado.quantidade %>" type="number" value="1" autofocus> </td>
                <td><a href="/excluirProdutoCarrinho/<%= dado._id %>" class="btn btn-sm btn-danger">Excluir</a></td>
            </tr>

        <% }) %>
            <tr>
                <td></td>
                <td></td>
                <td><h3>VALOR:</h3> </td>
                <td><span  class=" badge badge-secondary aumentaP">R$ <span id="totalPagar"></span>  ,00</span></td>
                <td><a href="" class="btn btn-success">Pagar</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </main>
  </body>


<script>

    $(document).ready(function(){

        $(document).ready(function(){
            var produtos_precos = document.getElementsByClassName('preco');
            var produtos_qtd    = document.getElementsByClassName('qtd');
            
            var somatotal = 0;

            for(let i=0 ; i<produtos_precos.length ; i++){
                somatotal += (produtos_precos[i].textContent * produtos_qtd[i].value);
            }

            $("#totalPagar").html(somatotal);
        })

        $(".produto").click(function(){

            var produtos_precos = document.getElementsByClassName('preco');
            var produtos_qtd    = document.getElementsByClassName('qtd');
            
            var somatotal = 0;

            for(let i=0 ; i<produtos_precos.length ; i++){
                somatotal += (produtos_precos[i].textContent * produtos_qtd[i].value);
            }

            $("#totalPagar").html(somatotal);

        })
    });


</script>

</html>
